/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --decorative-default-record-display: flex;
  --background-color: #000028;
  /* --text-color:#F1B2CE; */
  --header-title-text-color: #db00ff;
  --title-decor-text-color: #000028;
  --section-header-text-color: #ff0070;
  --accent-color: #ff0070;
  --decorative-element-corner-border-color: #ff0070;
  --header-button-text-color: #ff0070;
  --header-button-hover-border-color: rgb(255, 0, 112, 0.4);
  --header-decorative-element-rec-text-color: #ff0070;
  --main-title-header-text-color: #ff0070;
  --main-card-paragraph-text-color: #f1b2ce;
  --paragraph-title-background-color: #ff0070;
  --header-link-to-background-image: url("../images/cover-image-dark.png");
}
