/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  --background-color: #fff1f7;
  --header-link-to-background-image: url("../images/cover-image-light.png");
  --decorative-default-record-display: none;
  --header-button-text-color: #353430;
  --header-button-hover-border-color: #353430;
  --header-title-text-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --paragraph-title-background-color: #ff8dcb;
  --title-decor-text-color: #353430;
  --section-paragraph-text-color: #353430;
  --main-card-paragraph-text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --header-link-to-background-image: url("../images/cover-image-light.png");
    --decorative-default-record-display: none;
    --header-button-text-color: #353430;
    --header-button-hover-border-color: #353430;
    --header-title-text-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --paragraph-title-background-color: #ff8dcb;
    --title-decor-text-color: #353430;
    --section-paragraph-text-color: #353430;
    --main-card-paragraph-text-color: #353430;
  }
}
